<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <div class="div_details">
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>GENRE: <%= movie.genres.name %> </p>
    <p>ACTORS:</p>
    <ul>
        <% for (let x=0; x < movie.actors.length; x++) {%>
        <a href="/actors/detail/<%= movie.actors[x].id %>"><li style="font-style: italic;font-weight: bold; margin-left: 20px;"> 
            <p><%= movie.actors[x].first_name %> <%= movie.actors[x].last_name %></p>
        </li></a>
        <% } %>
    </ul>
    </div>
    <div class="div_button">
        <a href="/movies/edit/<%= movie.id %>"><button>Edit</button></a>
        <form action="/movies/delete/<%= movie.id %>?_method=DELETE" method="post"><button type="submit">Delete</button></form>
        <a href="/movies"><button>Movies</button></a>
        <a href="/"><button>Home</button></a>
    </div>
</body>
</html>